In [1]:
import pandas as pd

In [3]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [4]:
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [5]:
ufo.columns

Index([u'City', u'Colors Reported', u'Shape Reported', u'State', u'Time'], dtype='object')

In [6]:
# Renaming column --- Method 1

In [8]:
ufo.rename(columns = {'Colors Reported':'Colors_Reported'},inplace=True)

In [9]:
 ufo.columns

Index([u'City', u'Colors_Reported', u'Shape Reported', u'State', u'Time'], dtype='object')

In [13]:
#Method 2 --- Make list and then write all columns and ufo.columns gives column name so it will be replaced by new list
ufo_cols=['city','colors reported','shape reported','state','time']

In [11]:
ufo.columns = ufo_cols

In [12]:
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [18]:
# Method 3 -- PASSING WHILE READING CSV

In [19]:
ufo = pd.read_csv('http://bit.ly/uforeports',names=ufo_cols,header=0)

In [20]:
ufo.head()

                   city colors reported shape reported state             time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [21]:
# IF YOU HAVE 100 COLUMNS AND MANY COLUMNS HAS SPACE IN IT SO HOW DO YOU REPLACE IT

In [22]:
ufo.columns = ufo.columns.str.replace(' ','_')

In [23]:
ufo.columns

Index([u'city', u'colors_reported', u'shape_reported', u'state', u'time'], dtype='object')