In [1]:
# Two objects in Pandas -Series and DaraFrame

In [2]:
import pandas as pd

In [8]:
ufo = pd.read_table('http://bit.ly//uforeports',sep =',')
# read_csv
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [10]:
type(ufo)

pandas.core.frame.DataFrame

In [13]:
type(ufo['City'])

pandas.core.series.Series

In [14]:
# Also can be used as ..
type(ufo.City)

pandas.core.series.Series

In [15]:
# Hit tab operator so that you can see the column name

In [16]:
# Here if you want colors reported as column name then how do you get it by dot operator
# @ANSWER:YOU CANNOT DO ufo.Colors Reported.This is wrong if space is there use only Bracket.

In [19]:
# HOW DO I CREATE A NEW DATA SERIES IN DATAFRAME

In [20]:
'ab'+'cd'

'abcd'

In [33]:
# Important if you want to create a new column bracket is requried.Dot notation wont work.
# ufo.Location = ufo.City+ ', ' +ufo.State ----> This wont work
ufo['Location'] = ufo.City+ ', ' +ufo.State
ufo.head()

,City,Colors Reported,Shape Reported,State,Time,Location
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00,"Ithaca, NY"
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00,"Willingboro, NJ"
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00,"Holyoke, CO"
3,Abilene,NaN,DISK,KS,6/1/1931 13:00,"Abilene, KS"
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00,"New York Worlds Fair, NY"