In [1]:
# How to get first three rows and only only two columns from csv

In [2]:
import pandas as pd

In [4]:
ufo=pd.read_csv('http://bit.ly/uforeports')

In [5]:
ufo.columns

Index([u'City', u'Colors Reported', u'Shape Reported', u'State', u'Time'], dtype='object')

In [11]:
ufo=pd.read_csv('http://bit.ly/uforeports',usecols = ['City','State'],nrows=3)
ufo

          City State
0       Ithaca    NY
1  Willingboro    NJ
2      Holyoke    CO

In [12]:
# How does iteration works for Series and DataFrames

In [16]:
# For Series iterations
for c in ufo.City:
    print c

Ithaca
Willingboro
Holyoke

In [17]:
# For DataFrame iterations

In [19]:
for index,row in ufo.iterrows():
    print(index,row.City,row.State)

(0, 'Ithaca', 'NY')
(1, 'Willingboro', 'NJ')
(2, 'Holyoke', 'CO')

In [20]:
# Best way to drop non-numneric colum for DataFrame

In [21]:
drinks = pd.read_csv('http://bit.ly/drinksbycountry')

In [22]:
drinks.dtypes

country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [23]:
# Answer refer question one

In [ ]:
drinks.describe()